$myColorBlack: #000;
$myColorWhite: #fff;
$mycolorGray: #888;
$myLightGray: #f0f1f4;
$myColorBlue: #317ade;
$myDarkBlue: rgb(14, 52, 121);
$myDarkBlueHover: rgba(14, 52, 121, 0.5);
$myColorOrange: #f08c4a;
$myColorGreen: #4acb8f;
$jobTrustedColor: #6b728e;
$btnBGColor: #393939;
$whatWeOfferBg: #f9fafe;
$footerBGColor: #1a1a1a;
$footerTextColor: #888c8c;
$footerSocialBGcolor: #2c2d3c;

$plainBorder: 1px solid;
$plainShadow: 0 0 20px;

$font-weight-light: 300;
$font-wight-regular: 400;
$font-weight-small: 500;
$font-weight-medium: 600;
$font-weight-strong: 700;
$font-weight-bold: 800;
$font-weight-bolder: 900;
//add font-family
$font-family-primary: futura-pt, "Arial Condensed", sans-serif;
$font-family-secondary: lust, "Courier", serif;
@mixin font-primary-light {
  font-family: $font-family-primary;
  font-weight: $font-weight-light;
  font-style: normal;
}
@mixin font-primary-medium {
  font-family: $font-family-primary;
  font-weight: $font-weight-small;
  font-style: normal;
}
@mixin font-primary-medium-italic {
  font-family: $font-family-primary;
  font-weight: $font-weight-small;
  font-style: italic;
}
@mixin font-primary-heavy {
  font-family: $font-family-primary;
  font-weight: $font-weight-strong;
  font-style: normal;
}
@mixin font-primary-demi {
  font-family: $font-family-primary;
  font-weight: $font-weight-medium;
  font-style: normal;
}
@mixin font-primary-bold {
  font-family: $font-family-primary;
  font-weight: $font-weight-strong;
  font-style: normal;
}
@mixin font-secondary-italic {
  font-family: $font-family-secondary;
  font-weight: $font-weight-strong;
  font-style: italic;
}
@mixin font-code {
  font-family: source-code-pro, monospace;
  font-weight: $font-weight-strong;
  font-style: normal;
}
