#expertise {
  background-color: $myColorBlue;
  padding: 50px 15px;

  h1 {
    @include font-secondary-italic;
    color: $myColorWhite;
    font-size: 55px;
  }

  .expertise_container {
    .expertise_container-items {
      display: flex;
      margin: 50px 0;

      span {
        margin-right: 25px;
        white-space: nowrap;
        font-size: 25px;
        color: #adc3e1;
        font-weight: bold;
      }
    }
    .slide {
      animation: slide-left 10s linear;
    }

    .slide-reverse {
      animation: slide-right 10s linear;
    }
  }
}

@media only screen and (min-width: 768px) {
  #expertise {
    h1 {
      text-align: center;
      font-size: 80px;
    }

    .expertise_container {
      .slide {
        //animation-duration: 50s;
      }

      .slide-reverse {
        //animation-duration: 50s;
      }

      .onlyMobile {
        display: none;
      }
    }
  }
}
