#expertise {
  background-color: #2f74ca;
  padding: 50px 15px;

  h1 {
    @include font-secondary-italic;
    color: white;
    font-size: 55px;
  }

  .expertise_container {
    .expertise_container-items {
      display: flex;
      margin: 50px 0;

      span {
        margin-right: 25px;
        white-space: nowrap;
        font-size: 25px;
        color: #adc3e1;
        font-weight: bold;
      }
    }
    .slide {
      animation: slide 10s linear infinite alternate;
    }

    .slide-reverse {
      animation: slide-reverse 10s linear infinite alternate;
    }
  }
}

@media only screen and (min-width: 768px) {
  #expertise {
    h1 {
      text-align: center;
      font-size: 80px;
    }

    .expertise_container {
      .slide {
        animation-duration: 50s;
      }

      .slide-reverse {
        animation-duration: 50s;
      }

      .onlyMobile {
        display: none;
      }
    }
  }
}
