#gallery {
  padding: 60px 15px;

  .gallery_conatiner-item-image {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;

    img {
      border-radius: 20px;
      width: 100%;
      vertical-align: top;
      box-shadow: $plainShadow $mycolorGray;
    }

    .notOnMobile {
      display: none;
    }
    .gallery_conatiner-item-image-overlay {
      opacity: 0;
      transition: 0.75s opacity;
      position: absolute;
      inset: 0;
      text-align: center;
      background-color: $myColorBlack;
      border-radius: 20px;
      pointer-events: none;

      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #gallery {
    width: 80%;
    margin: auto;
    .gallery_container {
      display: flex;

      .gallery_container-item {
        width: 100%;
        margin: 20px;

        .notOnMobile {
          display: initial;
        }

        #imgMoveLeft {
          position: relative;
          left: -10%;
          width: 110%;
        }

        .imgMoveDown {
          position: relative;
          top: 10%;
        }

        .gallery_conatiner-item-image:hover {
          .gallery_conatiner-item-image-overlay {
            opacity: 0.4;
          }
        }
      }
    }
  }
  .show {
    animation: floatUp 1s;
  }
  .gallery-overview {
    position: fixed;
    background-color: rgba($myColorBlack, 0.7);
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    #displayedImg {
      max-width: 700px;
      max-height: 800px;
      border-radius: 20px;
      margin: 30px;
    }

    .arrows {
      background-color: $mycolorGray;
      border: 2px solid $myColorBlue;
      border-radius: 25%;
      width: 35px;
      cursor: pointer;

      &:hover {
        transition: 0.2s;
        scale: 1.1;
      }
    }
  }
}
