#info {
  padding: 50px 15px;
  .info_shadow {
    color: $mycolorGray;
    font-size: 65px;
    font-weight: bold;
    line-height: 0.75;
  }

  h1 {
    @include font-secondary-italic;
    font-size: 40px;
    margin-top: -20px;
  }

  a {
    display: inline-block;
    color: $myColorBlack;
    font-size: 35px;
    font-weight: bold;
    margin: 50px 0;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #info {
    width: 80%;
    margin: auto;
    position: relative;

    .info_shadow {
      font-size: 120px;
    }

    h1 {
      font-size: 90px;
      line-height: 0.75;
      width: 70%;
    }

    .info_image {
      position: absolute;
      width: 420px;
      right: 0;
      bottom: 0;
    }
  }
}
