//Header
@keyframes logoUp {
  0% {
    transform: translateY(50px);
  }
}

@keyframes titleUp {
  20% {
    transform: translateY(50px);
  }
}

@keyframes textUp {
  40% {
    transform: translateY(50px);
  }
}

@keyframes buttonUp {
  60% {
    transform: translateY(50px);
  }
}

@keyframes imgLeft {
  20% {
    transform: translate(50px);
  }
}
//menu
@keyframes menuReveal {
  100% {
    border-top: 50px solid $myColorBlue;
    border-bottom: 50px solid $myColorBlue;
    border-left: 100px solid $myColorBlue;
  }
}

@keyframes menuOpen {
  100% {
    //asdsa
  }
}
//trusted by
@keyframes infiniteSlide {
  to {
    transform: translateX(-680%);
  }
}

@keyframes group1Appear {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@keyframes group2Appear {
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes group3Appear {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
}
//expertise
@keyframes slide-left {
  to {
    transform: translateX(var(--widths));
  }
}

@keyframes slide-right {
  from {
    transform: translate(var(--widths));
  }
}
//words
@keyframes image1rotation {
  0% {
    scale: 1;
  }

  20% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }

  40% {
    left: 45%;
    top: 70%;
    scale: 1;
  }

  60% {
    left: 5%;
    top: 60%;
    scale: 1;
  }

  80% {
    left: 5%;
    top: 20%;
    scale: 1;
  }

  100% {
    scale: 1;
  }
}

@keyframes image2rotation {
  0% {
    scale: 1.3;
  }

  20% {
    left: 45%;
    top: 70%;
    scale: 1;
    scale: 1;
  }

  40% {
    left: 5%;
    top: 60%;
    scale: 1;
  }

  60% {
    left: 5%;
    top: 20%;
    scale: 1;
  }

  80% {
    left: 45%;
    top: 0;
    scale: 1;
  }

  100% {
    scale: 1.3;
  }
}

@keyframes image3rotation {
  0% {
    scale: 1;
  }

  20% {
    left: 5%;
    top: 60%;
    scale: 1;
  }

  40% {
    left: 5%;
    top: 20%;
    scale: 1;
  }

  60% {
    left: 45%;
    top: 0;
    scale: 1;
  }

  80% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}

@keyframes image4rotation {
  0% {
    scale: 1;
  }

  20% {
    left: 5%;
    top: 20%;
    scale: 1;
  }

  40% {
    left: 45%;
    top: 0;
    scale: 1;
  }

  60% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }

  80% {
    left: 45%;
    top: 70%;
    scale: 1;
  }

  100% {
    scale: 1;
  }
}

@keyframes image5rotation {
  0% {
    scale: 1;
  }
  20% {
    left: 45%;
    top: 0;
    scale: 1;
  }

  40% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }

  60% {
    left: 45%;
    top: 70%;
    scale: 1;
  }

  80% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

@keyframes circle1color {
  0% {
    background-color: $myColorWhite;
  }
  20% {
    background-color: $myColorBlue;
  }

  40% {
    background-color: $myColorWhite;
  }
}

@keyframes circle2color {
  0% {
    background-color: $myColorBlue;
  }
  20% {
    background-color: $myColorWhite;
  }

  80% {
    background-color: $myColorWhite;
  }
  100% {
    background-color: $myColorBlue;
  }
}

@keyframes circle3color {
  0% {
    background-color: $myColorWhite;
  }

  60% {
    background-color: $myColorWhite;
  }

  80% {
    background-color: $myColorBlue;
  }
  100% {
    background-color: $myColorWhite;
  }
}

@keyframes circle4color {
  40% {
    background-color: $myColorWhite;
  }

  60% {
    background-color: $myColorBlue;
  }

  80% {
    background-color: $myColorWhite;
  }
}

@keyframes circle5color {
  20% {
    background-color: $myColorWhite;
  }

  40% {
    background-color: $myColorBlue;
  }

  60% {
    background-color: $myColorWhite;
  }
}

@keyframes text1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
}

@keyframes text2 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}

@keyframes text3 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}

@keyframes text4 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes text5 {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
//gallery
@keyframes floatUp {
  from {
    transform: translateY(70px);
  }
}
