.menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapperOpened {
    //animation: menuOpen 0.25 linear forwards;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 100px solid $myColorBlue;
    border-right: 100px solid $myColorBlue;
    border-bottom: 100px solid $myColorBlue;
    border-left: 1350px solid $myColorBlue;

    .menu {
      display: none;
    }
  }

  .wrapper.menu-hovered {
    animation: menuReveal 0.25s linear forwards;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .menu {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    rotate: (-90deg);
    margin: 15px;
    z-index: 10;

    &-hamburger {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &-item {
        background-color: $myColorBlack;
        width: 2px;
        height: 15px;
        margin: 2px;
        transition: 0.25s;
      }
    }

    &-text {
      text-align: center;
      color: $myColorBlack;
      margin: 10px;
    }

    &:hover {
      .menu-text {
        color: $myColorWhite;
      }

      .menu-hamburger-item {
        background-color: $myColorWhite;
      }
      .menu-hamburger-item:first-child {
        height: 25px;
      }
      .menu-hamburger-item:nth-child(2) {
        height: 30px;
      }
    }
  }
  .changeColor {
    .menu-hamburger-item {
      background-color: $myColorWhite;
    }
    .menu-text {
      color: $myColorWhite;
    }
  }
}
