@import "config";
@import "header";
@import "clients";
@import "whyBadin";
@import "whatWeOffer";
@import "words";
@import "job";
@import "career";
@import "gallery";
@import "expertise";
@import "info";
@import "footer";
@import "keyframes";

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
