@import "config";
@import "header";
@import "clients";
@import "whyBadin";
@import "whatWeOffer";
@import "words";
@import "job";
@import "career";
@import "gallery";
@import "expertise";
@import "info";
@import "footer";
@import "keyframes";
@import "menu";
@import "navigation";

* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.back-to-top {
  padding: 2px;
  position: fixed;
  right: 1em;
  bottom: 1em;
  border-radius: 100%;
  border: 5px solid $myColorBlack;
  opacity: 0;
  transition: 0.5s opacity;
  cursor: pointer;

  &-image {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: $myColorBlack;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
    }
  }
}
