.header_container {
  background-image: url("./../imgs/header/hero-bg.png");
  background-size: cover;
  color: white;
}
.header_container .header_container-items {
  padding: 0 15px;
}
.header_container .header_container-items .header_container-items-menu {
  display: flex;
}
.header_container .header_container-items .header_container-items-menu img {
  height: 35px;
  width: 100px;
  margin: 20px 0px;
}
.header_container .header_container-items .header_container-items-menu img:last-child {
  height: 25px;
  width: 25px;
  margin-left: auto;
}
.header_container .header_container-items h1 {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  margin: 1em 0;
}
.header_container .header_container-items p {
  color: #888c8c;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 1em;
}
.header_container .header_container-items button {
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 18px;
}
.header_container .header_container-items button:last-child {
  background-color: #393939;
  color: white;
}
.header_container .header_container-images {
  position: relative;
  padding: 0;
}
.header_container .header_container-images img {
  width: 100%;
}
.header_container .header_container-images #whiteBg {
  position: absolute;
  right: -47%;
  top: -15%;
}
.header_container .header_container-images #card {
  position: absolute;
  right: -14%;
  bottom: -10%;
}
.header_container .header_container-images #planet {
  position: absolute;
  left: 30%;
  bottom: 55%;
  width: 10%;
}
.header_container .header_container-images #tower1 {
  position: absolute;
  left: 13%;
  bottom: -7%;
  width: 14%;
}
.header_container .header_container-images #tower2 {
  position: absolute;
  right: 5%;
  bottom: 8%;
  width: 11%;
}

@media only screen and (min-width: 768px) {
  .header_container {
    display: flex;
  }
  .header_container .header_container-items {
    width: 70%;
    margin: 0 200px;
    margin-top: 50px;
  }
  .header_container .header_container-items .header_container-items-menu img:last-child {
    visibility: hidden;
  }
  .header_container .header_container-items h1 {
    font-size: 75px;
  }
  .header_container .header_container-items button {
    width: auto;
    margin-top: 30px;
  }
  .header_container .header_container-images {
    width: 100%;
  }
}
#clients {
  padding: 100px 15px;
}
#clients img {
  display: block;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  #clients {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  #clients img {
    display: inline-block;
  }
}
#whyBadin {
  padding: 0 15px 50px 15px;
}
#whyBadin h1 {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 55px;
  margin-bottom: 25px;
}
#whyBadin p {
  margin: 25px 0;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
}
#whyBadin img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 20px gray;
}
#whyBadin #onlyDesktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  #whyBadin {
    padding-left: 400px;
  }
  #whyBadin .whyBadin-first_set {
    margin-top: 70px;
    display: flex;
  }
  #whyBadin .whyBadin-first_set h1 {
    margin: 0;
    font-size: 90px;
  }
  #whyBadin .whyBadin-first_set p {
    width: 70%;
    margin: 50px 0 0 40px;
  }
  #whyBadin .whyBadin-second_set {
    display: flex;
    margin-top: 35px;
  }
  #whyBadin .whyBadin-second_set div {
    width: 100%;
  }
  #whyBadin .whyBadin-second_set div p {
    width: 80%;
  }
  #whyBadin #onlyDesktop {
    display: block;
    width: 50%;
  }
}
#whatWeOffer {
  padding: 0 15px 50px 15px;
  background-color: #f9fafe;
  overflow: auto;
}
#whatWeOffer h1 {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
  margin: 25px 0;
}
#whatWeOffer p {
  margin: 10px 0;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
#whatWeOffer button {
  margin: 0.5em 0;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 18px;
  background-color: #317ade;
  color: white;
}
#whatWeOffer h4:first-child {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #317ade;
  font-size: 15px;
}
#whatWeOffer #orange h4:first-child {
  color: #f08c4a;
}
#whatWeOffer #orange > img {
  width: 275px;
}
#whatWeOffer #green h4:first-child {
  color: #4acb8f;
}
#whatWeOffer #green > img {
  width: 250px;
}
#whatWeOffer .whatWeOffer_container-card .whatWeOffer_container-card-icons {
  padding: 20px 0;
}
#whatWeOffer .whatWeOffer_container-card .whatWeOffer_container-card-icons img {
  width: 40px;
}
#whatWeOffer .whatWeOffer_container-card img {
  width: 160px;
}

@media only screen and (min-width: 768px) {
  .whatWeOffer_header {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .whatWeOffer_header div {
    position: relative;
    width: 100%;
  }
  .whatWeOffer_header div h1 {
    font-size: 90px !important;
    line-height: 0.75;
  }
  .whatWeOffer_header div button {
    position: absolute;
    right: 0;
  }
  .whatWeOffer_container {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .whatWeOffer_container .whatWeOffer_container-card {
    width: 100%;
    transition: 0.25s transform;
  }
  .whatWeOffer_container .whatWeOffer_container-card h4:nth-child(2) {
    margin: 25px 0;
  }
  .whatWeOffer_container .whatWeOffer_container-card:hover {
    transform: scale(1.05);
  }
}
#words {
  padding: 50px 0 50px 15px;
  background-color: #f9fafe;
}
#words h1 {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
  margin: 25px 0;
}
#words > p {
  margin: 25px 0;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #888c8c;
}
#words .words-tabs {
  height: 400px;
}
#words .words-tabs h3 {
  margin-bottom: 5px;
}
#words .words-tabs h5 {
  margin-bottom: 25px;
  color: #888c8c;
}
#words .words-tabs p {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}
#words .words-tabs .words-tabs-images {
  margin: 15px 0;
  display: flex;
  align-items: flex-end;
}
#words .words-tabs .words-tabs-images .words-tabs-images-item img {
  width: 95px;
}
#words .words-tabs .words-tabs-images .words-tabs-images-item #selected {
  width: 105px;
}
#words .words-tabs .words-tabs-item {
  padding-right: 15px;
  position: relative;
}
#words .words-tabs .words-tabs-item .words-tabs-item-card {
  position: absolute;
  opacity: 0;
}
#words .words-tabs .words-tabs-item #text1 {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  #words > div {
    width: 80%;
    margin: auto;
  }
  #words > div h1 {
    font-size: 90px;
  }
  #words > div > p {
    width: 30%;
  }
  #words > div .words-tabs {
    display: flex;
    padding: 25px 0;
    width: 80%;
    margin: auto;
  }
  #words > div .words-tabs .words-tabs-images {
    position: relative;
    margin: 0;
    width: 400px;
  }
  #words > div .words-tabs .words-tabs-images .words-tabs-images-item {
    position: absolute;
    height: 100%;
  }
  #words > div .words-tabs .words-tabs-images .words-tabs-images-item #selected {
    width: 95px;
  }
  #words > div .words-tabs .words-tabs-images #image1 {
    left: 45%;
    top: 0;
    -webkit-animation: image1rotation 10s infinite;
            animation: image1rotation 10s infinite;
  }
  #words > div .words-tabs .words-tabs-images #image2 {
    top: 37%;
    left: 70%;
    -webkit-animation: image2rotation 10s infinite;
            animation: image2rotation 10s infinite;
  }
  #words > div .words-tabs .words-tabs-images #image3 {
    left: 45%;
    top: 70%;
    -webkit-animation: image3rotation 10s infinite;
            animation: image3rotation 10s infinite;
  }
  #words > div .words-tabs .words-tabs-images #image4 {
    left: 5%;
    top: 60%;
    -webkit-animation: image4rotation 10s infinite;
            animation: image4rotation 10s infinite;
  }
  #words > div .words-tabs .words-tabs-images #image5 {
    left: 5%;
    top: 20%;
    -webkit-animation: image5rotation 10s infinite;
            animation: image5rotation 10s infinite;
  }
  #words > div .words-tabs .words-tabs-breakline {
    background-color: gray;
    width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #words > div .words-tabs .words-tabs-breakline .words-tabs-breakline-circle {
    background-color: white;
    width: 10px;
    height: 10px;
    margin: -3.5px;
    border: 1px solid gray;
    border-radius: 50%;
  }
  #words > div .words-tabs .words-tabs-breakline #circle1 {
    -webkit-animation: circle1color 10s infinite;
            animation: circle1color 10s infinite;
  }
  #words > div .words-tabs .words-tabs-breakline #circle2 {
    -webkit-animation: circle2color 10s infinite;
            animation: circle2color 10s infinite;
  }
  #words > div .words-tabs .words-tabs-breakline #circle3 {
    -webkit-animation: circle3color 10s infinite;
            animation: circle3color 10s infinite;
  }
  #words > div .words-tabs .words-tabs-breakline #circle4 {
    -webkit-animation: circle4color 10s infinite;
            animation: circle4color 10s infinite;
  }
  #words > div .words-tabs .words-tabs-breakline #circle5 {
    -webkit-animation: circle5color 10s infinite;
            animation: circle5color 10s infinite;
  }
  #words > div .words-tabs .words-tabs-item {
    margin-left: 30px;
    width: 400px;
  }
  #words > div .words-tabs .words-tabs-item .words-tabs-item-card {
    display: flex;
    flex-direction: column-reverse;
  }
  #words > div .words-tabs .words-tabs-item .words-tabs-item-card > div {
    margin: 20px 0;
  }
  #words > div .words-tabs .words-tabs-item #text1 {
    opacity: 0;
  }
  #words > div .words-tabs .words-tabs-item #text1 {
    -webkit-animation: text1 10s infinite;
            animation: text1 10s infinite;
  }
  #words > div .words-tabs .words-tabs-item #text2 {
    -webkit-animation: text2 10s infinite;
            animation: text2 10s infinite;
  }
  #words > div .words-tabs .words-tabs-item #text3 {
    -webkit-animation: text3 10s infinite;
            animation: text3 10s infinite;
  }
  #words > div .words-tabs .words-tabs-item #text4 {
    -webkit-animation: text4 10s infinite;
            animation: text4 10s infinite;
  }
  #words > div .words-tabs .words-tabs-item #text5 {
    -webkit-animation: text5 10s infinite;
            animation: text5 10s infinite;
  }
}
#job .job_container {
  padding: 40px 15px;
}
#job .job_container > p {
  color: #888c8c;
  margin: 30px 0;
}
#job .job_container-shadow_text {
  color: #f0f1f4;
  font-size: 55px;
  font-weight: bold;
}
#job h1 {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  margin-top: -30px;
}
#job button {
  margin: 0.5em 0;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 18px;
  background-color: #317ade;
  color: white;
}
#job .job_trusted {
  background-color: #f9fafe;
  padding: 50px 0;
}
#job .job_trusted p {
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
  color: #6b728e;
}
#job .job_trusted .job_trusted-images {
  display: flex;
  -webkit-animation: infiniteSlide 20s linear infinite;
          animation: infiniteSlide 20s linear infinite;
}

@media only screen and (min-width: 768px) {
  #job {
    display: flex;
  }
  #job .job_container {
    width: 70%;
    margin-left: auto;
  }
  #job .job_container .job_container-shadow_text {
    font-size: 90px;
  }
  #job .job_container h1 {
    font-size: 90px;
    margin-top: -50px;
  }
  #job .job_container > p {
    width: 50%;
  }
  #job .job_trusted {
    width: 20%;
  }
  #job .job_trusted .job_trusted-images {
    display: initial;
  }
  #job .job_trusted .job_trusted-images img {
    display: block;
    margin: auto;
  }
  #job .job_trusted .job_trusted-images span {
    display: initial;
  }
}
#career {
  padding: 25px 15px;
  background-color: #f9fafe;
}
#career .career_shadow {
  color: #f0f1f4;
  font-size: 65px;
  font-weight: bold;
  line-height: 0.75;
}
#career h1 {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  margin-top: -20px;
}
#career .career_container {
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px #f0f1f4;
  padding: 15px;
}
#career .career_container p {
  font-weight: bold;
  margin-bottom: 25px;
}
#career .career_container button {
  margin: 0.5em 0;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 15px;
  background-color: #317ade;
  color: white;
}
#career .career_container button img {
  vertical-align: bottom;
  width: 19px;
}
#career .career_btn {
  margin: 35px 0;
  display: flex;
  justify-content: center;
}
#career .career_btn button {
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 15px;
  background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  #career > div {
    width: 80%;
    margin: auto;
  }
  #career > div .career_shadow p {
    font-size: 120px;
  }
  #career > div h1 {
    font-size: 70px;
  }
  #career > div .career_container {
    display: flex;
  }
  #career > div .career_container p {
    font-size: 20px;
    margin-top: 15px;
  }
  #career > div .career_container button {
    margin-left: auto;
  }
}
#gallery {
  padding: 60px 15px;
}
#gallery .gallery_conatiner-item-image {
  position: relative;
  margin-bottom: 20px;
}
#gallery .gallery_conatiner-item-image img {
  border-radius: 20px;
  width: 100%;
  vertical-align: top;
  box-shadow: 5px 5px 15px gray;
}
#gallery .gallery_conatiner-item-image .notOnMobile {
  display: none;
}
#gallery .gallery_conatiner-item-image .gallery_conatiner-item-image-overlay {
  opacity: 0;
  transition: 0.75s opacity;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}
#gallery .gallery_conatiner-item-image .gallery_conatiner-item-image-overlay img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

@media only screen and (min-width: 768px) {
  #gallery {
    width: 80%;
    margin: auto;
  }
  #gallery .gallery_container {
    display: flex;
  }
  #gallery .gallery_container .gallery_container-item {
    width: 100%;
    margin: 20px;
  }
  #gallery .gallery_container .gallery_container-item .notOnMobile {
    display: initial;
  }
  #gallery .gallery_container .gallery_container-item #imgMoveLeft {
    position: relative;
    left: -10%;
    width: 110%;
  }
  #gallery .gallery_container .gallery_container-item .imgMoveDown {
    position: relative;
    top: 10%;
  }
  #gallery .gallery_container .gallery_container-item .gallery_conatiner-item-image:hover .gallery_conatiner-item-image-overlay {
    opacity: 0.4;
  }
}
#expertise {
  background-color: #2f74ca;
  padding: 50px 15px;
}
#expertise h1 {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  color: white;
  font-size: 55px;
}
#expertise .expertise_container .expertise_container-items {
  display: flex;
  margin: 50px 0;
}
#expertise .expertise_container .expertise_container-items span {
  margin-right: 25px;
  white-space: nowrap;
  font-size: 25px;
  color: #adc3e1;
  font-weight: bold;
}
#expertise .expertise_container .slide {
  -webkit-animation: slide 10s linear infinite alternate;
          animation: slide 10s linear infinite alternate;
}
#expertise .expertise_container .slide-reverse {
  -webkit-animation: slide-reverse 10s linear infinite alternate;
          animation: slide-reverse 10s linear infinite alternate;
}

@media only screen and (min-width: 768px) {
  #expertise h1 {
    text-align: center;
    font-size: 80px;
  }
  #expertise .expertise_container .slide {
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
  }
  #expertise .expertise_container .slide-reverse {
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
  }
  #expertise .expertise_container .onlyMobile {
    display: none;
  }
}
#info {
  padding: 50px 15px;
}
#info .info_shadow {
  color: #f0f1f4;
  font-size: 65px;
  font-weight: bold;
  line-height: 0.75;
}
#info h1 {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  margin-top: -20px;
}
#info a {
  display: inline-block;
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin: 50px 0;
}
#info img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #info {
    width: 80%;
    margin: auto;
    position: relative;
  }
  #info .info_shadow {
    font-size: 120px;
  }
  #info h1 {
    font-size: 90px;
    line-height: 0.75;
    width: 70%;
  }
  #info .info_image {
    position: absolute;
    width: 420px;
    right: 0;
    bottom: 0;
  }
}
.footer_container {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  background-color: #1a1a1a;
  color: #888c8c;
  padding: 50px 15px 0 15px;
}
.footer_container h3 {
  color: white;
  margin-bottom: 2em;
}
.footer_container div {
  margin-bottom: 2em;
}
.footer_container div:last-child {
  margin-bottom: 0;
}
.footer_container .footer_container-wrapper-item-image a img {
  height: 35px;
  width: 100px;
}
.footer_container .footer_container-wrapper-item-social a {
  background-color: #2c2d3c;
  margin-right: 0.5em;
  padding: 0.75em;
  display: inline-block;
  border-radius: 20px;
}
.footer_container .footer_container-wrapper-item-nav ul {
  list-style-type: none;
  padding: 0;
}
.footer_container .footer_container-wrapper-item-nav ul li {
  margin-bottom: 10px;
}
.footer_container .footer_container-wrapper-item-contact a {
  display: block;
  margin-bottom: 15px;
}
.footer_container .footer_container-wrapper-item-contact p {
  margin-bottom: 5px;
}
.footer_container .footer_container-end_line {
  border-top: 1px solid #888c8c;
  text-align: center;
}
.footer_container .footer_container-end_line p {
  padding: 30px 20px;
}

@media only screen and (min-width: 768px) {
  .footer_container-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .footer_container-wrapper #bigColumn {
    flex-grow: 12;
  }
  .footer_container-wrapper .footer_container-wrapper-item {
    flex-grow: 1;
    margin-right: 20px;
  }
}
@-webkit-keyframes infiniteSlide {
  to {
    transform: translateX(-680%);
  }
}
@keyframes infiniteSlide {
  to {
    transform: translateX(-680%);
  }
}
@-webkit-keyframes slide {
  to {
    transform: translate(-210%);
  }
}
@keyframes slide {
  to {
    transform: translate(-210%);
  }
}
@-webkit-keyframes slide-reverse {
  from {
    transform: translate(-210%);
  }
}
@keyframes slide-reverse {
  from {
    transform: translate(-210%);
  }
}
@-webkit-keyframes image1rotation {
  0% {
    scale: 1;
  }
  20% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  40% {
    left: 45%;
    top: 70%;
    scale: 1;
  }
  60% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  80% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
@keyframes image1rotation {
  0% {
    scale: 1;
  }
  20% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  40% {
    left: 45%;
    top: 70%;
    scale: 1;
  }
  60% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  80% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
@-webkit-keyframes image2rotation {
  0% {
    scale: 1.3;
  }
  20% {
    left: 45%;
    top: 70%;
    scale: 1;
    scale: 1;
  }
  40% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  60% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  80% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
@keyframes image2rotation {
  0% {
    scale: 1.3;
  }
  20% {
    left: 45%;
    top: 70%;
    scale: 1;
    scale: 1;
  }
  40% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  60% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  80% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
@-webkit-keyframes image3rotation {
  0% {
    scale: 1;
  }
  20% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  40% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  60% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  80% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}
@keyframes image3rotation {
  0% {
    scale: 1;
  }
  20% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  40% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  60% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  80% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}
@-webkit-keyframes image4rotation {
  0% {
    scale: 1;
  }
  20% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  40% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  60% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  80% {
    left: 45%;
    top: 70%;
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
@keyframes image4rotation {
  0% {
    scale: 1;
  }
  20% {
    left: 5%;
    top: 20%;
    scale: 1;
  }
  40% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  60% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  80% {
    left: 45%;
    top: 70%;
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
@-webkit-keyframes image5rotation {
  0% {
    scale: 1;
  }
  20% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  40% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  60% {
    left: 45%;
    top: 70%;
    scale: 1;
  }
  80% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
@keyframes image5rotation {
  0% {
    scale: 1;
  }
  20% {
    left: 45%;
    top: 0;
    scale: 1;
  }
  40% {
    top: 37%;
    left: 70%;
    scale: 1.3;
  }
  60% {
    left: 45%;
    top: 70%;
    scale: 1;
  }
  80% {
    left: 5%;
    top: 60%;
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
@-webkit-keyframes circle1color {
  0% {
    background-color: white;
  }
  20% {
    background-color: blue;
  }
  40% {
    background-color: white;
  }
}
@keyframes circle1color {
  0% {
    background-color: white;
  }
  20% {
    background-color: blue;
  }
  40% {
    background-color: white;
  }
}
@-webkit-keyframes circle2color {
  0% {
    background-color: blue;
  }
  20% {
    background-color: white;
  }
  80% {
    background-color: white;
  }
  100% {
    background-color: blue;
  }
}
@keyframes circle2color {
  0% {
    background-color: blue;
  }
  20% {
    background-color: white;
  }
  80% {
    background-color: white;
  }
  100% {
    background-color: blue;
  }
}
@-webkit-keyframes circle3color {
  0% {
    background-color: white;
  }
  60% {
    background-color: white;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: white;
  }
}
@keyframes circle3color {
  0% {
    background-color: white;
  }
  60% {
    background-color: white;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes circle4color {
  40% {
    background-color: white;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: white;
  }
}
@keyframes circle4color {
  40% {
    background-color: white;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: white;
  }
}
@-webkit-keyframes circle5color {
  20% {
    background-color: white;
  }
  40% {
    background-color: blue;
  }
  60% {
    background-color: white;
  }
}
@keyframes circle5color {
  20% {
    background-color: white;
  }
  40% {
    background-color: blue;
  }
  60% {
    background-color: white;
  }
}
@-webkit-keyframes text1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes text1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@-webkit-keyframes text2 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@keyframes text2 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@-webkit-keyframes text3 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@keyframes text3 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@-webkit-keyframes text4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes text5 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text5 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */